  <%= render "layouts/caroussel" %>
<div class="home_part1">
</div>
  <div class="container mt-5 ">
    <div class="text-center home_card">
      <h1 class="pt-2 red">Bouvet Revêtements</h1>
      <h3 class="mt-3 salmon">Artisan revêtement de sol</h3>
      <p class="mt-4">
        L’Eurl Bouvet Revetements, artisan profesionnel du revêtement de sol a été crée en 2008 à Betton, en Ille-et-vilaine. <br>
        Notre entreprise vous propose la prise en charge de la pose de votre sol, que ce soit de la rénovation ou un nouveau sol. <br>
        Nous proposons nos services aussi bien aux particuliers désirants rénover leur propriété, qu’aux entreprises ayant des chantiers de grandes envergures.</p>
    </div>
  </div>
<div class="home_part2 m-5">
  <div class="container text-center home_card">
    <p>Nous portons un réel intérêt à la réduction des nuisances sonores, ainsi qu'à la propreté durant les travaux. <br>
      Nous intervenons principalement à Rennes et ces alentours <br>
    Enfin, nous accordons attention particulière à la qualité de nos réalisations et à la satisfaction de nos clients. </p>
  </div>
</div>
<div class="bande_contact  d-flex justify-content-around">
  <div class="bande_coordonnee">
    <button class="btn btn-contact">Contactez-nous</button>

</div>
