.btn-contact{
  background-color: $saumon;
  color: $creme;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 0 3px black;
  transition-duration: .2s;
  padding: 5px 10px;
  &:hover{
    box-shadow: 0 0 2px white;
    transition-duration: .2s;
  }
}
