.footer {
  background: $dark;
  display: flex;
  align-items: center;
  height: 150px;
  width:100%;
  position: relative;
  top: 94px;
  p{
    color: $red;
  }
  i{
    color: $red;
  }
}


.footer-links {
  display: flex;
  align-items: center;
}

.text-uppercase {
  color : white;
  font-weight: bold;
}
