body{
  background-color: #F7EFE9;
  line-height: 2em;
}

a{
  text-decoration: none;
  color: $dark;
}
a:hover{
  text-decoration: none;
  color: $dark;
}
*{
  color: $dark;
}
.salmon{
  color: $saumon;
}
.red{
  color: $red;
}
.centerize{
  margin: 0 auto;
}

h1{
  font-family: Montserrat, sans-serif;
}
p{
  font-family: Roboto, serif;
}
