body{
  background-color: #F7EFE9;
}

a{
  text-decoration: none;
  color: $dark;
}
a:hover{
  text-decoration: none;
  color: $dark;
}
*{
  color: $dark;
}
.salmon{
  color: $saumon;
}
.red{
  color: $red;
}
.centerize{
  margin: 0 auto;
}
