.navbar{
  display: flex;
  justify-content: space-between;
  background-color: $saumon;
  height: 80px;
  font-size: 25px;
}

.onglets{
  display: flex;
  list-style: none;
  li{
    margin-right: 40px;
  }
  a{
    transition-duration: .4s;
  }
  a:hover{
    color:black;
    font-size: 27px;
    transition-duration: .4s;
  }
}
