<div class="contact">
  <h2 class="text-center m-4 pt-5"><i class="far fa-id-card"></i> Informations</h2>
  <div class="card_info justify-content-around row">
    <div class="subcard col-xs-12 col-sm-6 col-md-4">
      <i class="far fa-envelope"></i>
      <p>
      9 Allée des Synagots <br>
      35830, BETTON
      </p>
    </div>
    <div class="subcard col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-phone"></i>
      <p>06.98.04.72.31</p>
    </div>
    <div class="subcard col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-at"></i>
      <p>bouvet.stephane71@gmail.com</p>
    </div>
  </div>
  <h2 class="text-center m-4"><i class="far fa-calendar-alt"></i> Horaires d'ouverture</h2>
  <div class="container card_info_time">
    <div class="subcard">
      <div class="days subcenter">
        <div class="day">
          <p>Lundi</p>
          <p>8h00 - 17h00</p>
        </div>
        <div class="day">
          <p>Mardi</p>
          <p>8h00 - 17h00</p>
        </div>
        <div class="day">
          <p>Mercredi</p>
          <p>8h00 - 17h00</p>
        </div>
        <div class="day">
          <p>Jeudi</p>
          <p>8h00 - 17h00</p>
        </div>
        <div class="day">
          <p>Vendredi</p>
          <p>8h00 - 12h00</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="text-center m-4"><i class="fas fa-map-marked-alt"></i> Localisation</h2>
<div class="container mt-4">
  <div
    id="map"
    class="subcenter"
    style="width: 90%;
    height: 450px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
