<div class="footer d-flex justify-content-around">
  <h5 class="text-uppercase">Infos pratiques</h5>
  <div class="flexibility justify-content-between">
    <div class="d-flex">
      <i class="far fa-envelope mr-2 ml-resp"></i>
      <p>
      9 Allée des Synagots <br>
      35830, BETTON
      </p>
    </div>
    <div class="d-flex">
      <i class="fas fa-at mr-2 ml-resp"></i>
      <p>bouvet.stephane71@gmail.com</p>
    </div>
    <div class="d-flex">
      <i class="fas fa-phone mr-2 ml-resp"></i>
      <p>06.98.04.72.31</p>
    </div>
  </div>
</div>
