<nav class="navbar">
  <div class="logo">
    <p class="rootnav"> <%= link_to 'Bouvet Revetements', root_path %></p>
  </div>
  <ul class="onglets">
    <li><%= link_to 'Sols', root_path %></li>
    <li>|</li>
    <li> <%= link_to 'Photos', root_path %></li>
    <li>|</li>
    <li><%= link_to 'Devis', root_path %></li>
  </ul>
</nav>
